/*start*/
.desktop{
    height: 100vh;
    width: 100vw;
    background-image: url(https://sadhost.neocities.org/images/tiles/stars5.gif);
    position: relative;
    overflow: hidden;
}

/*fönster/flikar/window*/
.icon-container,
.window-container,
.content-container{
    position: absolute;
    inset: 0;
} 

/*desktop icons*/
.icon-container{
    width: 80px;
    text-align: center;
    color: white;
    position: absolute;
    top:40px;
    left:20px;
    cursor: pointer;
}

.icon-container img{
    width: 48px; 
}

.icon-container1{
    width: 80px;
    text-align: center;
    color: white;
    position: absolute;
    top:40px;
    left:120px;
    cursor: pointer;
}

.icon-container1 img{
    width: 48px;
}

/*fönster/flikar*/
.window-container{
    position: absolute;
    top: 120px;
    left: 200px;
    width: 320px;
    background-color: #ECE9D8;
    border: 2px solid #000;
    display: none;
}


/*title*/
.titlebar{
    background-color: linear-gradient(#0a246a, #3a6ea5);
    color: white;
    padding: 4px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: move;
}

/*content/innehåll*/
 .content-container{
    color: black;
    border: 2px solid white;
} 

/*navigation*/
.navbar{
    position: fixed;

    bottom: 0;
    left: 0;

    width: 220px;

    background: white;
    border: 2px solid black;

    display: none;

}

/*Meny*/
.start-menu{
    position: fixed;
    bottom: 0;
    left: 0;

    height: 40px;
    width: 100%;

    background: white;

    display: flex;
    align-items: center;
}

.sticker{
    position: absolute;
    width: 80px;
    cursor: grab;
}

/*för att gömma flik/window*/
.hide{
    display: none !important; /*skriver över allt/prioriteras*/
}


        